.DS_Store
*.xcodeproj/*.mode?v?
*.xcodeproj/*.pbxuser
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
build/
.idea/
.DerivedData/
dist/
!Examples/
!Examples/**
ThirdParty/*.tar.gz
ThirdParty/libressl-*/
ThirdParty/opus-*/
ThirdParty/pjproject-*/

ThirdParty/Opus
ThirdParty/LibreSSL/*
!ThirdParty/LibreSSL/patches
ThirdParty/PJSIP/*
!ThirdParty/PJSIP/patches
